/*
	Theme Name: Work Injury Helper 
	Description: A mobile-first, responsive, A11y-ready, and HTML5 theme built for the Genesis Framework using Sass.
	Author: Zach Russell 
	Author URI: https://protechig.com 

	Version: 1.0.6

	Tags: mobile-first, responsive, genesiswp, sass, developer, starter

	Template: genesis
	Template Version: 2.2.4

	License: GPL-2.0+
	License URI: http://www.opensource.org/licenses/gpl-license.php
*/
/* Table of Contents
- Imports
- HTML5 Reset
	- Baseline Normalize
	- Box Sizing
	- Float Clearing
- Defaults
	- Typographical Elements
	- Headings
	- Objects
	- Gallery
	- Forms
	- Tables
- Structure and Layout
	- Site Containers
	- Column Widths and Positions
- Common Classes
	- Avatar
	- Genesis
	- Search Form
	- Titles
	- WordPress
- Widgets
	- Featured Content
- Plugins
	- Genesis eNews Extended
	- Genesis Simple Share
	- Jetpack
- Accessibility
- Sticky Message
- Site Header
	- Site Title and Description
	- Header Widget Area
- Site Navigation
	- Header Navigation
	- Primary Navigation
	- Secondary Navigation
- Content Area
	- Entries
	- Entry Meta
	- Pagination
	- Comments
- Sidebar
- Footer Widgets
- Site Footer
- Media Queries
	- Min-width: 800px
*/
/* Variables
---------------------------------------------------------------------------------------------------- */
/* Colors
---------------------------------------------------------------------------------------------------- */
/* Mixins
---------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------
/*	Transition
/*	Usage: @include transition(all, 0.2s, ease-in-out);
--------------------------------------------- */
/* ---------------------------------------------
/*	Button/Text Color Combos
/*	Usage: @include background-text-combo(#fff, #333);
--------------------------------------------- */
/*
HTML5 Reset
---------------------------------------------------------------------------------------------------- */
/* Baseline Normalize
	normalize.css v4.2.0 | MIT License | http://necolas.github.io/normalize.css/
------------------------------------------- */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, footer, header, nav, section {
  display: block; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

figcaption, figure, main {
  display: block; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active, a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b, strong {
  font-weight: inherit; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

audio, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

button, input, optgroup, select, textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: bold; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  display: inline-block;
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details, menu {
  display: block; }

summary {
  display: list-item; }

canvas {
  display: inline-block; }

template {
  display: none; }

[hidden] {
  display: none; }

/* Box Sizing
--------------------------------------------- */
*, input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Float Clearing
--------------------------------------------- */
.author-box:before,
.clearfix:before,
.entry:before,
.entry-content:before,
.footer-widgets:before,
.nav-primary:before,
.nav-secondary:before,
.pagination:before,
.site-container:before,
.site-footer:before,
.site-header:before,
.site-inner:before,
.wrap:before {
  content: " ";
  display: table; }

.author-box:after,
.clearfix:after,
.entry:after,
.entry-content:after,
.footer-widgets:after,
.nav-primary:after,
.nav-secondary:after,
.pagination:after,
.site-container:after,
.site-footer:after,
.site-header:after,
.site-inner:after,
.wrap:after {
  clear: both;
  content: " ";
  display: table; }

/* Defaults
---------------------------------------------------------------------------------------------------- */
/* Typographical Elements
--------------------------------------------- */
body {
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.625;
  margin: 0;
  -webkit-font-smoothing: antialiased; }

a,
button,
input:focus,
input[type="button"],
input[type="reset"],
input[type="submit"],
textarea:focus,
.button,
.gallery img {
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }

::-moz-selection,
::selection {
  background-color: #333;
  color: #fff; }

a {
  color: #000;
  text-decoration: none; }
  a:hover {
    color: #333; }

p {
  margin: 0 0 30px;
  padding: 0; }

ol,
ul {
  margin: 0;
  padding: 0; }

li {
  list-style-type: none; }

b,
strong {
  font-weight: 700; }

blockquote,
cite,
em,
i {
  font-style: italic; }

blockquote {
  margin: 40px; }
  blockquote::before {
    content: "\201C";
    display: block;
    font-size: 30px;
    height: 0;
    left: -20px;
    position: relative;
    top: -10px; }

/* Headings
--------------------------------------------- */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 20px; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 20px; }

h5, .h5 {
  font-size: 18px; }

h6, .h6 {
  font-size: 16px; }

/* Objects
--------------------------------------------- */
embed,
iframe,
img,
object,
video,
.wp-caption {
  max-width: 100%; }

img,
figure {
  margin: 0;
  height: auto; }

.featured-content img {
  width: auto; }

.gallery {
  overflow: hidden; }
  .gallery img {
    width: auto; }

/* Gallery
--------------------------------------------- */
.gallery-item {
  margin: 0 0 30px;
  text-align: center; }

.gallery-columns-2 .gallery-item {
  width: 50%; }

.gallery-columns-3 .gallery-item {
  width: 33%; }

.gallery-columns-4 .gallery-item {
  width: 25%; }

.gallery-columns-5 .gallery-item {
  width: 20%; }

.gallery-columns-6 .gallery-item {
  width: 16.6666%; }

.gallery-columns-7 .gallery-item {
  width: 14.2857%; }

.gallery-columns-8 .gallery-item {
  width: 12.5%; }

.gallery-columns-9 .gallery-item {
  width: 11.1111%; }

.gallery img {
  border: 1px solid #ddd;
  height: auto;
  padding: 4px; }
  .gallery img:hover {
    border: 1px solid #999; }

/* Forms
--------------------------------------------- */
input,
select,
textarea {
  background-color: #fff;
  border-color: #999;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  padding: 16px;
  width: 100%;
  -webkit-font-smoothing: antialiased; }

textarea {
  border-width: 1px; }

input:focus,
textarea:focus {
  border: 1px solid #999;
  outline: none; }

input[type="checkbox"], input[type="image"], input[type="radio"] {
  width: auto; }

::-moz-placeholder,
::-webkit-input-placeholder {
  color: #333;
  font-weight: 400;
  -webkit-font-smoothing: antialiased; }

::-moz-placeholder {
  opacity: 1; }

button,
.button,
.entry a.button {
  background-color: #333;
  color: #fff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 16px 24px;
  text-decoration: none;
  white-space: normal;
  width: auto; }

input[type="button"], input[type="reset"], input[type="submit"] {
  background-color: #333;
  color: #fff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  padding: 16px 24px;
  text-decoration: none;
  white-space: normal;
  width: auto; }

.footer-widgets button,
.footer-widgets .button {
  background-color: #000;
  color: #fff; }
.footer-widgets input[type="button"], .footer-widgets input[type="reset"], .footer-widgets input[type="submit"] {
  background-color: #000;
  color: #fff; }

button:hover {
  background-color: #000;
  color: #fff; }

input:hover[type="button"], input:hover[type="reset"], input:hover[type="submit"] {
  background-color: #000;
  color: #fff; }

.button:hover {
  background-color: #000;
  color: #fff; }

.entry-content .button:hover {
  color: #fff; }

.footer-widgets button:hover,
.footer-widgets .button:hover {
  background-color: #fff;
  color: #333; }
.footer-widgets input:hover[type="button"], .footer-widgets input:hover[type="reset"], .footer-widgets input:hover[type="submit"] {
  background-color: #fff;
  color: #333; }

.button {
  display: inline-block; }

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-results-button {
  display: none; }

/* Tables
--------------------------------------------- */
table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: 40px;
  width: 100%; }

tbody {
  border-bottom: 1px solid #ddd; }

td,
th {
  text-align: left; }

td {
  border-top: 1px solid #ddd;
  padding: 6px 0; }

th {
  font-weight: 400; }

/* Structure and Layout
---------------------------------------------------------------------------------------------------- */
/* Site Containers
--------------------------------------------- */
.site-container {
  background-color: #fff;
  margin: 0 auto; }

.site-inner {
  clear: both;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px; }

/* Common Classes
---------------------------------------------------------------------------------------------------- */
/* Avatar
--------------------------------------------- */
.avatar {
  float: left; }

.alignleft .avatar,
.author-box .avatar {
  margin-right: 24px; }

.alignright .avatar {
  margin-left: 24px; }

.author-box .avatar {
  height: 80px;
  width: 80px; }

.comment .avatar {
  height: 50px;
  margin: 0 16px 0 0;
  width: 50px;
  border-radius: 50%; }

/* Genesis
--------------------------------------------- */
.breadcrumb {
  margin-bottom: 30px; }

.archive-description,
.author-box {
  border-bottom: 5px solid #f5f5f5;
  margin-bottom: 60px;
  padding-bottom: 30px; }

.single .author-box {
  border-top: 5px solid #f5f5f5;
  padding-top: 30px; }

.author-box-title {
  font-size: 18px;
  margin-bottom: 4px; }

.archive-description p:last-child,
.author-box p:last-child {
  margin-bottom: 0; }

/* Search Form
--------------------------------------------- */
.search-form {
  overflow: hidden; }

.site-header .search-form {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%; }

.search-form input {
  -webkit-appearance: none; }
  .search-form input[type="submit"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px; }

/* Titles
--------------------------------------------- */
.archive-title {
  font-size: 20px; }

.entry-title {
  font-size: 30px; }
  .entry-title a {
    color: #333; }

.sidebar .widget-title a {
  color: #333; }

.entry-title a:hover {
  color: #000; }

.widget-title {
  font-size: 18px;
  margin-bottom: 20px; }

.footer-widgets .widget-title {
  color: #fff; }

/* WordPress
--------------------------------------------- */
a.aligncenter img {
  display: block;
  margin: 0 auto; }
a.alignnone {
  display: inline-block; }

.alignleft {
  float: left;
  text-align: left; }

.alignright {
  float: right;
  text-align: right; }

a.alignleft, a.alignnone, a.alignright {
  max-width: 100%; }

img.centered,
.aligncenter {
  display: block;
  margin: 0 auto 24px; }

img.alignnone,
.alignnone {
  margin-bottom: 12px; }

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
  margin: 0 24px 24px 0; }

a.alignright,
img.alignright,
.wp-caption.alignright {
  margin: 0 0 24px 24px; }

.wp-caption-text {
  font-size: 14px;
  font-weight: 700;
  text-align: center; }

.entry-content p.wp-caption-text {
  margin-bottom: 0; }

/* Widgets
---------------------------------------------------------------------------------------------------- */
.widget {
  word-wrap: break-word; }
  .widget ol > li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 20px;
    text-indent: -20px; }
  .widget li li {
    border: 0;
    margin: 0 0 0 30px;
    padding: 0; }

.widget_calendar table {
  width: 100%; }
.widget_calendar td, .widget_calendar th {
  text-align: center; }

/* Featured Content
--------------------------------------------- */
.featured-content .entry {
  border-bottom: 2px solid #f5f5f5;
  margin-bottom: 20px;
  padding: 0 0 24px; }
.featured-content .entry-title {
  font-size: 20px; }

.footer-widgets .entry {
  border-bottom: 1px dotted #666; }

/* Plugins
---------------------------------------------------------------------------------------------------- */
/* Genesis eNews Extended
--------------------------------------------- */
.enews-widget {
  color: #fff; }
  .enews-widget .widget-title {
    color: #fff; }

.sidebar .widget.enews-widget {
  background-color: #333;
  padding: 40px; }

.enews-widget input {
  border: 1px solid #333;
  font-size: 16px;
  margin-bottom: 16px; }
  .enews-widget input:focus {
    border: 1px solid #333; }
  .enews-widget input[type="submit"] {
    background-color: #000;
    color: #fff;
    margin: 0;
    width: 100%; }
  .enews-widget input:hover[type="submit"] {
    background-color: #fff;
    color: #333; }

.enews form + p {
  margin-top: 24px; }

/* Genesis Simple Share
--------------------------------------------- */
.content .share-after {
  margin-bottom: 20px; }
.content a.count, .content a.share {
  border: none;
  font-weight: 400; }
  .content a.count:hover, .content a.share:hover {
    border: none;
    font-weight: 400; }
.content .share-filled .share {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
.content .share-filled .count {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }
.content .share-filled .facebook .count,
.content .share-filled .googlePlus .count,
.content .share-filled .linkedin .count,
.content .share-filled .pinterest .count,
.content .share-filled .stumbleupon .count,
.content .share-filled .twitter .count {
  color: #333;
  border: 1px solid #333; }
  .content .share-filled .facebook .count:hover,
  .content .share-filled .googlePlus .count:hover,
  .content .share-filled .linkedin .count:hover,
  .content .share-filled .pinterest .count:hover,
  .content .share-filled .stumbleupon .count:hover,
  .content .share-filled .twitter .count:hover {
    color: #333;
    border: 1px solid #333; }
.content .share-filled .facebook .share, .content .share-filled .facebook:hover .count,
.content .share-filled .googlePlus .share,
.content .share-filled .googlePlus:hover .count,
.content .share-filled .linkedin .share,
.content .share-filled .linkedin:hover .count,
.content .share-filled .pinterest .share,
.content .share-filled .pinterest:hover .count,
.content .share-filled .stumbleupon .share,
.content .share-filled .stumbleupon:hover .count,
.content .share-filled .twitter .share,
.content .share-filled .twitter:hover .count {
  background: #333 !important; }
.content .share-filled .facebook:hover .count,
.content .share-filled .googlePlus:hover .count,
.content .share-filled .linkedin:hover .count,
.content .share-filled .pinterest:hover .count,
.content .share-filled .stumbleupon:hover .count,
.content .share-filled .twitter:hover .count {
  color: #fff; }

/* Jetpack
--------------------------------------------- */
#wpstats {
  display: none; }

/* ## Screen reader text
--------------------------------------------- */
.screen-reader-text,
.screen-reader-text span,
.screen-reader-shortcut {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
  color: #333;
  background: #fff; }

.screen-reader-text:focus,
.screen-reader-shortcut:focus,
.genesis-nav-menu .search input[type="submit"]:focus,
.widget_search input[type="submit"]:focus {
  clip: auto !important;
  height: auto;
  width: auto;
  display: block;
  font-size: 1em;
  font-weight: bold;
  padding: 15px 23px 14px;
  z-index: 100000;
  /* Above WP toolbar. */
  text-decoration: none;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6); }

.more-link {
  position: relative; }

/* # Skip Links
---------------------------------------------------------------------------------------------------- */
.genesis-skip-link li {
  height: 0;
  width: 0;
  list-style: none; }

/* ## Accessible Menu
--------------------------------------------- */
.menu .menu-item:focus {
  position: static; }

.menu .menu-item > a:focus + ul.sub-menu,
.menu .menu-item.sfHover > ul.sub-menu {
  left: auto;
  opacity: 1; }

/* Site Header
---------------------------------------------------------------------------------------------------- */
.site-header {
  background-color: #fff;
  text-align: center;
  border-bottom: 1px solid rgba(26, 46, 90, 0.8); }
  .site-header .wrap {
    padding: 20px 0; }

/* Site Title and Description
--------------------------------------------- */
.site-title {
  font-size: 30px;
  letter-spacing: 1px;
  margin-bottom: 0;
  line-height: 1.2; }
  .site-title a {
    color: #333; }
    .site-title a:hover {
      color: #333; }

.header-image .title-area {
  float: left;
  display: block;
  padding-left: 15px;
  width: auto; }
.header-image .site-title > a {
  background: url(images/logo@2x.png) no-repeat !important;
  background: url(images/logo.svg), none !important;
  background-position: center left !important;
  background-size: 130px 56px !important;
  background-repeat: no-repeat !important;
  float: left;
  min-height: 56px;
  width: 130px; }
.header-image .site-description,
.header-image .site-title {
  display: block;
  text-indent: -9999px;
  margin: 0; }
.header-image button.menu-toggle {
  float: right;
  margin: 0 auto;
  margin-right: 15px;
  position: relative; }

.site-description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.2; }

/* Header Widget Area
--------------------------------------------- */
.header-widget-area .widget_text {
  margin-top: 10px; }
  .header-widget-area .widget_text p {
    margin-bottom: 0; }

/* Site Navigation
---------------------------------------------------------------------------------------------------- */
/* Accessible Menu
--------------------------------------------- */
.menu .menu-item:focus {
  position: static; }
.menu .menu-item > a:focus + ul.sub-menu, .menu .menu-item.sfHover > ul.sub-menu {
  left: auto;
  opacity: 0; }

/* Site Navigation
---------------------------------------------------------------------------------------------------- */
.mobile .genesis-nav-menu {
  clear: both;
  -webkit-transition: none;
  transition: none;
  font-size: 16px;
  line-height: 1;
  width: 100%; }
  .mobile .genesis-nav-menu .menu-item {
    display: inline-block;
    text-align: left; }
    .mobile .genesis-nav-menu .menu-item a {
      color: #333;
      display: block;
      padding: 10px 20px;
      border-left: 5px solid transparent; }
      .mobile .genesis-nav-menu .menu-item a:hover {
        color: #000;
        border-left: 5px solid #333; }
  .mobile .genesis-nav-menu .current-menu-item > a {
    color: #000; }
  .mobile .genesis-nav-menu .sub-menu {
    background-color: rgba(0, 0, 0, 0.05);
    left: auto;
    opacity: 1;
    position: relative;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    z-index: 99; }
    .mobile .genesis-nav-menu .sub-menu .current-menu-item > a {
      border-left: 5px solid #333; }
      .mobile .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
        color: #000; }
    .mobile .genesis-nav-menu .sub-menu a {
      font-size: 14px;
      padding: 10px 20px;
      position: relative;
      border-left: 5px solid #333; }
  .mobile .genesis-nav-menu button.sub-menu-toggle {
    background-color: #fff;
    color: #000; }
    .mobile .genesis-nav-menu button.sub-menu-toggle:hover {
      background-color: #fff;
      color: #000; }
  .mobile .genesis-nav-menu .menu-item:hover {
    position: static; }
    .mobile .genesis-nav-menu .menu-item:hover > .sub-menu {
      left: auto;
      opacity: 1; }

/* Site Header Navigation
--------------------------------------------- */
.mobile .site-header nav.nav-header {
  float: left; }
.mobile .site-header .sub-menu {
  border-top: 1px solid #eee; }
  .mobile .site-header .sub-menu .sub-menu {
    margin-top: -56px; }
.mobile .site-header .genesis-nav-menu {
  padding: 0 15px 0 15px;
  margin-top: 15px;
  float: left;
  display: block; }
  .mobile .site-header .genesis-nav-menu li {
    margin-left: 0; }
  .mobile .site-header .genesis-nav-menu.menu-item a {
    padding: 10px 15px 10px 10px; }

/* Primary Navigation
--------------------------------------------- */
.nav-primary {
  background-color: transparent;
  z-index: 999; }
  .nav-primary .genesis-nav-menu a {
    color: #fff; }
  .nav-primary .sub-menu {
    background-color: rgba(255, 255, 255, 0.05); }
  .nav-primary .genesis-nav-menu {
    background-color: #fff; }
    .nav-primary .genesis-nav-menu a:hover, .nav-primary .genesis-nav-menu .current-menu-item > a, .nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
      color: #000; }

/* Secondary Navigation
--------------------------------------------- */
.nav-secondary {
  background-color: #fff; }

.mobile .site-footer .nav-secondary {
  margin-bottom: 40px; }
.mobile .site-footer .genesis-nav-menu {
  padding: 0; }

/* Responsive Navigation
--------------------------------------------- */
.mobile nav {
  display: none;
  position: relative;
  width: 100%; }
  .mobile nav.nav-secondary {
    display: block; }
  .mobile nav.pagination {
    display: block; }
  .mobile nav .wrap {
    padding: 0; }
  .mobile nav li.menu-item.button a {
    color: #333; }
  .mobile nav button.menu-toggle:hover {
    background-color: transparent; }

.menu-toggle,
.sub-menu-toggle {
  color: #000;
  display: block;
  margin: 0 auto;
  overflow: hidden;
  text-align: center;
  visibility: visible; }

button.menu-toggle {
  right: 0;
  z-index: 1000;
  display: block;
  float: none;
  text-align: center;
  margin: 5px auto;
  padding: 15px 18px;
  border-radius: 3px;
  box-shadow: 0px 1px 0px rgba(26, 46, 90, 0.8) inset, 0px 1px 0px rgba(26, 46, 90, 0.8), 1px 0px 0px rgba(26, 46, 90, 0.8) inset, -1px 0px 0px rgba(26, 46, 90, 0.8) inset;
  background: none;
  color: #000;
  border: 0; }
  button.menu-toggle:before {
    padding: 0;
    text-align: center; }
  button.menu-toggle.activated {
    background: #000;
    color: #fff; }
  button.menu-toggle .nav-secondary {
    display: none;
    visibility: hidden; }
  button.menu-toggle:before, button.menu-togglebefore:focus {
    content: "\f333";
    color: #000;
    display: inline-block;
    font: normal 24px 'dashicons';
    margin-right: 10px;
    line-height: 1.1; }
  button.menu-toggle.activated:before {
    color: #fff; }

button.sub-menu-toggle {
  float: right;
  padding: 0;
  position: absolute;
  right: 0;
  top: 10px;
  z-index: 100; }

button.sub-menu-toggle:before {
  content: "\f347";
  display: inline-block;
  margin-top: 5px;
  font: normal 16px/1 'dashicons';
  text-rendering: auto;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.sub-menu-toggle.activated:before {
  content: "\f343"; }

.mobile .genesis-nav-menu {
  padding: 0 10px; }
  .mobile .genesis-nav-menu .menu-item {
    display: block;
    float: none;
    position: relative;
    text-align: left; }
    .mobile .genesis-nav-menu .menu-item.button {
      background-color: #333;
      margin-left: 10px;
      margin-right: 10px; }
    .mobile .genesis-nav-menu .menu-item:hover {
      position: relative; }
    .mobile .genesis-nav-menu .menu-item a {
      border-left: 5px solid transparent;
      color: #333;
      padding: 10px 20px 10px 10px;
      width: 100%; }
  .mobile .genesis-nav-menu .current-menu-item a {
    background-color: #ddd; }
    .mobile .genesis-nav-menu .current-menu-item a:hover {
      border-left: 5px solid #000; }
  .mobile .genesis-nav-menu .sub-menu {
    border: none; }
  .mobile .genesis-nav-menu .menu-item > a:focus ul.sub-menu {
    left: 0;
    margin-left: 0; }
    .mobile .genesis-nav-menu .menu-item > a:focus ul.sub-menu .sub-menu {
      left: 0;
      margin-left: 0; }
  .mobile .genesis-nav-menu > .menu-item-has-children > a:after {
    content: none; }
  .mobile .genesis-nav-menu .sub-menu {
    clear: both;
    display: none;
    margin: 0;
    opacity: 1;
    position: static;
    width: 100%; }
    .mobile .genesis-nav-menu .sub-menu .sub-menu {
      margin: 0; }
    .mobile .genesis-nav-menu .sub-menu a {
      border-left: 5px solid transparent;
      padding-left: 20px; }
  .mobile .genesis-nav-menu nav .genesis-nav-menu .menu-item .sub-menu li a {
    background-color: transparent;
    color: #333; }
    .mobile .genesis-nav-menu nav .genesis-nav-menu .menu-item .sub-menu li a:hover {
      background-color: transparent;
      color: #333; }
  .mobile .genesis-nav-menu nav button:hover {
    background-color: transparent;
    color: #333; }
  .mobile .genesis-nav-menu nav .genesis-nav-menu .menu-item .sub-menu li a:focus, .mobile .genesis-nav-menu nav .genesis-nav-menu .menu-item a:focus {
    background-color: #fff;
    color: #333; }
  .mobile .genesis-nav-menu nav button:focus {
    background-color: transparent;
    color: #333; }
  .mobile .genesis-nav-menu .menu-toggle:hover,
  .mobile .genesis-nav-menu .nav-primary {
    background-color: transparent;
    color: #333; }
  .mobile .genesis-nav-menu .menu-toggle:focus {
    background-color: transparent;
    color: #333; }
  .mobile .genesis-nav-menu .nav-header .genesis-nav-menu .menu-item a,
  .mobile .genesis-nav-menu .nav-secondary .genesis-nav-menu .menu-item a {
    color: #333; }
  .mobile .genesis-nav-menu .nav-secondary {
    background-color: transparent;
    padding: 0; }

/* Content Area
---------------------------------------------------------------------------------------------------- */
/* Entries
--------------------------------------------- */
.entry {
  border-bottom: 5px solid #f5f5f5;
  margin-bottom: 60px; }
  .entry a {
    color: #000;
    border-bottom-color: #000;
    text-decoration: none;
    box-shadow: inset 0 -2px 0 rgba(30, 30, 30, 0.6);
    background-color: transparent; }
    .entry a:hover {
      color: #333;
      background-color: #f5f5f5; }

.page.page-template-page_blog-php .entry {
  border-bottom: 5px solid #f5f5f5;
  margin-bottom: 60px; }
.page .entry {
  border-bottom: 0;
  margin-bottom: 30px; }

.single .entry {
  border-bottom: 0;
  margin-bottom: 30px; }

.entry-content ol, .entry-content ul {
  margin-bottom: 30px;
  margin-left: 40px; }
.entry-content ol > li {
  list-style-type: decimal; }
.entry-content ul > li {
  list-style-type: disc; }
.entry-content ol ol, .entry-content ul ul {
  margin-bottom: 0; }
.entry-content code {
  background-color: #333;
  color: #ddd; }

/* Entry Meta
--------------------------------------------- */
p.entry-meta {
  font-size: 16px;
  margin-bottom: 0; }

.entry-header .entry-meta {
  margin-bottom: 24px;
  margin-top: -10px; }

.entry-footer .entry-meta {
  font-weight: 400;
  margin-bottom: 60px; }

.entry-categories,
.entry-tags {
  display: block; }

.entry-comments-link::before {
  content: "\2014";
  margin: 0 6px 0 2px; }

/* Pagination
--------------------------------------------- */
.pagination {
  clear: both;
  margin: 60px 0; }

.adjacent-entry-pagination {
  margin-bottom: 0; }

.archive-pagination li {
  display: inline; }
  .archive-pagination li a {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    padding: 8px 12px; }
    .archive-pagination li a:hover {
      background-color: #000; }
.archive-pagination .active a {
  background-color: #000; }

/* Comments
--------------------------------------------- */
p.comment-meta {
  margin-bottom: 20px; }

.entry-comments .comment,
.entry-comments .comment-reply {
  margin-bottom: 40px; }

.comment-respond {
  margin-bottom: 20px;
  padding-top: 30px; }

.entry-comments .comment:last-child {
  margin-bottom: 0; }

.entry-comments {
  padding-top: 20px; }
  .entry-comments .comment {
    border-bottom: 5px solid #f5f5f5;
    clear: both; }
    .entry-comments .comment a.comment-edit-link {
      display: none;
      visibility: hidden; }
  .entry-comments .comment-author {
    margin: 0; }
  .entry-comments .comment-header,
  .entry-comments .comment-content {
    font-size: 0.9em; }
  .entry-comments .children .comment {
    margin: 0;
    border: none; }
  .entry-comments .comment-list li {
    padding: 20px 0 0 15px;
    list-style-type: none; }
  .entry-comments .comment-list .depth-1 {
    padding-left: 0; }

.comment-notes,
.entry-pings .reply {
  display: none; }

p.comment-form-comment {
  margin-bottom: 20px; }
p.form-submit {
  margin: 0; }

.comment-list li {
  list-style-type: none; }

/* Sidebar
---------------------------------------------------------------------------------------------------- */
.sidebar {
  font-size: 16px; }
  .sidebar li {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  .sidebar p:last-child, .sidebar ul > li:last-child {
    margin-bottom: 0; }
  .sidebar .widget {
    background-color: #fff;
    margin-bottom: 30px; }

/* Footer Widgets
---------------------------------------------------------------------------------------------------- */
.footer-widgets {
  background-color: #fff;
  clear: both;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  color: #333; }
  .footer-widgets a {
    color: #333; }
  .footer-widgets input {
    border: 1px solid rgba(26, 46, 90, 0.8); }
  .footer-widgets a.button, .footer-widgets a:hover {
    color: #333; }
  .footer-widgets li {
    border-bottom: 1px dotted #666;
    margin-bottom: 10px;
    padding-bottom: 10px; }
  .footer-widgets .widget {
    margin-bottom: 60px; }
  .footer-widgets p:last-child {
    margin-bottom: 0; }

/* Site Footer
---------------------------------------------------------------------------------------------------- */
.site-footer {
  background-color: #fff;
  padding: 40px 15px;
  text-align: center; }
  .site-footer p {
    margin-bottom: 0; }

/* Media Queries
---------------------------------------------------------------------------------------------------- */
@media only screen and (min-width: 485px) {
  /* iPhone 6 portrait */ }
@media only screen and (min-width: 568px) {
  .title-area {
    float: left;
    text-align: left; }

  .site-inner {
    border-top: none; }

  .site-header > .wrap {
    position: relative; }

  	/* ## Accessible Menu
  --------------------------------------------- */
  .menu .menu-item > a:focus + ul.sub-menu,
  .menu .menu-item.sfHover > ul.sub-menu {
    opacity: 1; }

  button.menu-toggle {
    display: none;
    visibility: hidden; }

  .desktop nav.nav-primary,
  .desktop .site-header nav {
    display: block;
    visibility: visible; }

  .desktop nav.nav-primary {
    display: block;
    float: left;
    margin-top: 0;
    width: 100%; }
  .desktop .genesis-nav-menu {
    background-color: #fff;
    box-shadow: none;
    text-align: left;
    font-size: 14px;
    padding: 0; }
    .desktop .genesis-nav-menu .menu-item {
      display: inline-block;
      float: none; }
      .desktop .genesis-nav-menu .menu-item:last-of-type {
        margin-right: 0; }
      .desktop .genesis-nav-menu .menu-item.current-menu-item a {
        border-left: 0;
        background-color: #fff; }
      .desktop .genesis-nav-menu .menu-item ul.submenu {
        padding-left: 0; }
  .desktop .site-header .genesis-nav-menu {
    float: right; }
  .desktop .nav-primary .genesis-nav-menu .menu-item a,
  .desktop .nav-secondary .genesis-nav-menu .menu-item a,
  .desktop .nav-header .genesis-nav-menu .menu-item a {
    padding: 16px 15px;
    color: #333;
    display: inline-block;
    width: auto;
    border: 0; }
  .desktop .nav-primary .genesis-nav-menu .current-menu-item > a,
  .desktop .nav-primary .genesis-nav-menu .menu-item a:hover,
  .desktop .nav-secondary .genesis-nav-menu .current-menu-item > a,
  .desktop .nav-secondary .genesis-nav-menu .menu-item a:hover,
  .desktop .nav-header .genesis-nav-menu .current-menu-item > a,
  .desktop .nav-header .genesis-nav-menu .menu-item a:hover {
    border-left: none;
    border-bottom-color: #000;
    box-shadow: inset 0 -4px 0 #000;
    background-color: #fff; }
    .desktop .nav-primary .genesis-nav-menu .current-menu-item > a .sub-menu,
    .desktop .nav-primary .genesis-nav-menu .menu-item a:hover .sub-menu,
    .desktop .nav-secondary .genesis-nav-menu .current-menu-item > a .sub-menu,
    .desktop .nav-secondary .genesis-nav-menu .menu-item a:hover .sub-menu,
    .desktop .nav-header .genesis-nav-menu .current-menu-item > a .sub-menu,
    .desktop .nav-header .genesis-nav-menu .menu-item a:hover .sub-menu {
      opacity: 1; }
  .desktop .nav-primary .genesis-nav-menu .sub-menu,
  .desktop .nav-secondary .genesis-nav-menu .sub-menu,
  .desktop .nav-header .genesis-nav-menu .sub-menu {
    position: absolute; }
    .desktop .nav-primary .genesis-nav-menu .sub-menu .menu-item a,
    .desktop .nav-secondary .genesis-nav-menu .sub-menu .menu-item a,
    .desktop .nav-header .genesis-nav-menu .sub-menu .menu-item a {
      display: block;
      position: relative;
      width: 200px;
      border: 0; }
  .desktop .nav-primary .genesis-nav-menu button.sub-menu-toggle,
  .desktop .nav-secondary .genesis-nav-menu button.sub-menu-toggle,
  .desktop .nav-header .genesis-nav-menu button.sub-menu-toggle {
    background-color: #fff;
    color: #000; }
    .desktop .nav-primary .genesis-nav-menu button.sub-menu-toggle:hover,
    .desktop .nav-secondary .genesis-nav-menu button.sub-menu-toggle:hover,
    .desktop .nav-header .genesis-nav-menu button.sub-menu-toggle:hover {
      background-color: #fff;
      color: #000; }
  .desktop .nav-primary .genesis-nav-menu .menu-item.menu-item-has-children a,
  .desktop .nav-secondary .genesis-nav-menu .menu-item.menu-item-has-children a,
  .desktop .nav-header .genesis-nav-menu .menu-item.menu-item-has-children a {
    padding: 16px 35px 16px 15px; }
  .desktop .nav-primary .genesis-nav-menu .menu-item.menu-item-has-children .sub-menu a,
  .desktop .nav-secondary .genesis-nav-menu .menu-item.menu-item-has-children .sub-menu a,
  .desktop .nav-header .genesis-nav-menu .menu-item.menu-item-has-children .sub-menu a {
    padding: 16px 15px; }
  .desktop .nav-primary .genesis-nav-menu .site-header .header-widget-area,
  .desktop .nav-secondary .genesis-nav-menu .site-header .header-widget-area,
  .desktop .nav-header .genesis-nav-menu .site-header .header-widget-area {
    text-align: right;
    float: right; }
  .desktop .nav-primary .genesis-nav-menu .menu-item.button a {
    display: none;
    visibility: hidden; }

  .site-header .genesis-nav-menu {
    text-align: right; }
    .site-header .genesis-nav-menu .menu-item {
      text-align: left; }
      .site-header .genesis-nav-menu .menu-item a {
        padding-bottom: 20px;
        padding-top: 20px; }

  .genesis-nav-menu .sub-menu {
    background-color: #f5f5f5;
    left: -9999px;
    opacity: 0; }
    .genesis-nav-menu .sub-menu a {
      background-color: #fff;
      border: 1px solid #f5f5f5;
      border-top: 0;
      border-left: 0;
      z-index: 9999; }
    .genesis-nav-menu .sub-menu .sub-menu {
      margin: -55px 0 0 199px;
      padding-left: 0; }
  .genesis-nav-menu li.highlight a {
    background-color: #f5f5f5;
    border-radius: 3px;
    color: #fff;
    font-weight: 400;
    margin-left: 20px; }
    .genesis-nav-menu li.highlight a:hover {
      background-color: #333;
      color: #fff; }

  .nav-primary,
  .nav-secondary {
    padding: 0; }

  .desktop .site-header {
    border-bottom: 0; }
    .desktop .site-header nav.nav-header {
      width: 400px;
      position: absolute;
      right: 0;
      z-index: 9999; }

  .nav-primary .sub-menu a {
    border: 1px solid #444;
    border-top: 0;
    border-left: 0; }
  .nav-primary .genesis-nav-menu > li:first-child a {
    padding-left: 0; }

  .nav-secondary .genesis-nav-menu > li:first-child a {
    padding-left: 0; }

  footer .nav-secondary {
    margin-bottom: 30px; }

  .responsive-menu {
    display: block; }
    .responsive-menu > .menu-item > .sub-menu {
      display: inline-block; }

  .responsive-menu-icon {
    display: none; }

  .responsive-menu > .menu-item-has-children:before,
  .responsive-menu .menu-open.menu-item-has-children:before {
    display: none; } }
@media only screen and (min-width: 768px) {
  .site-inner,
  .wrap {
    margin: 0 auto; }

  .site-inner,
  .footer-widgets {
    padding-left: 15px;
    padding-right: 15px; }

  .mobile-first-landing .site-container {
    max-width: 800px; }

  .content {
    width: 55%; }

  .full-width-content .content {
    width: 100%; }

  .sidebar,
  .footer-widgets-3 {
    width: 31.623931623931625%; }

  .footer-widgets-1,
  .footer-widgets-2 {
    width: 31.623931623931625%;
    margin-right: 2.564102564102564%; }

  .content,
  .sidebar-content .sidebar,
  .footer-widgets-1,
  .footer-widgets-2 {
    float: left; }

  .header-widget-area,
  .sidebar,
  .sidebar-content .content,
  .footer-widgets-3 {
    float: right; }

  .desktop .site-header {
    padding: 10px 0; }
    .desktop .site-header .search-form {
      float: right;
      margin: 0;
      width: auto; }
    .desktop .site-header nav.nav-header {
      width: 400px;
      position: absolute;
      right: 0;
      z-index: 9999; }
    .desktop .site-header .site-description {
      margin: 0; }

  .desktop.header-image .title-area {
    width: 180px; }
  .desktop.header-image .site-title > a {
    background: url(images/wide-logo@2x.png) no-repeat !important;
    background: url(images/wide-logo.svg), none !important;
    background-position: center left !important;
    background-size: 384px 56px !important;
    background-repeat: no-repeat !important;
    float: left;
    min-height: 56px;
    width: 384px; }

  .comment-list ul.children {
    margin-left: 40px; }

  .gallery-item {
    float: left; }

  .gallery-columns-2 .gallery-item {
    width: 50%; }

  .gallery-columns-3 .gallery-item {
    width: 33%; }

  .gallery-columns-4 .gallery-item {
    width: 25%; }

  .gallery-columns-5 .gallery-item {
    width: 20%; }

  .gallery-columns-6 .gallery-item {
    width: 16.6666%; }

  .gallery-columns-7 .gallery-item {
    width: 14.2857%; }

  .gallery-columns-8 .gallery-item {
    width: 12.5%; }

  .gallery-columns-9 .gallery-item {
    width: 11.1111%; }

  .five-sixths, .four-sixths, .one-fourth, .one-half, .one-sixth, .one-third, .three-fourths, .three-sixths, .two-fourths, .two-sixths, .two-thirds {
    float: left;
    margin-left: 2.564102564102564%; }

  .one-half, .three-sixths, .two-fourths {
    width: 48.717948717948715%; }

  .one-third, .two-sixths {
    width: 31.623931623931625%; }

  .four-sixths, .two-thirds {
    width: 65.81196581196582%; }

  .one-fourth {
    width: 23.076923076923077%; }

  .three-fourths {
    width: 74.35897435897436%; }

  .one-sixth {
    width: 14.52991452991453%; }

  .five-sixths {
    width: 82.90598290598291%; }

  .first {
    clear: both;
    margin-left: 0; } }
@media only screen and (min-width: 1024px) {
  .site-container {
    margin-bottom: 40px;
    margin-top: 40px;
    max-width: 1000px; }

  .desktop .site-header > .wrap {
    padding: 20px 0; }
  .desktop .site-header nav.nav-header {
    width: 550px;
    position: absolute;
    right: 0;
    z-index: 9999; }
  .desktop .site-header .search-form {
    margin: 0;
    width: auto; }

  .site-header
  .site-inner,
  .wrap {
    max-width: 960px; } }
@media only screen and (min-width: 1200px) {
  .site-container {
    max-width: 1200px; }

  .site-inner,
  .wrap {
    max-width: 1120px; } }
